/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}
.allinea{
  width: 80%;
  margin: auto;
}
nav::after, .row::after{
  content: "";
  display: table;
  clear: both;
}

.search, .lang, .bookbox, .crm, .column, .numberpiece, .logopiece, .enjoy, .smile, .columnfoot, .logofoot, .creditfoot, .square, .logobox{
  float: left;
  /* /* DEBUG:  */
  /* border: 1px solid black; */

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
li{
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
/* regole header */

header nav{
  width: 100%;
  min-height: 140px;
  position: fixed;
  top: 0;
  z-index: 500;
  line-height: 60px;
  /* background-color: #F4F9FD; */

  /* default */
  /* border-bottom: 1px solid black; */
}

nav .up{
  height: 70px;


  /* DEBUG:  */
  /* border: 1px solid black; */
}
.backgrnavup{
    background-color: #F4F9FD;
    border-bottom: 1px solid #364A5E;
}


.lang{
  width: 50%;
  height: 70px;
  /* border: 1px solid black; */

}


.search{
  width: 50%;
  height: 70px;
  /* border: 1px solid black; */
}
.fa-search{
  color:#08A8BF;
}
.fa-search:hover{
  color: blue;
}
.select{
  border-right: 1px solid grey;
  margin-right: 10px;
  background-color: transparent;
  border: 0;

}
.contactus{
  padding-left:  15px;
  border-left: 1px solid grey;
}
.actionup{
  margin-left: 53%;
}
.button{
  border: 1px solid black;
  color:black;
  border-radius: 5px;
  padding:8px;
}
#login{
  color: #FE775A;
  border-color:  #FE775A;
}
.hubspot{
  background-color: #FE775A;
  color: white;
  border: none;
}
#logohubhead{
  padding-top: 15px;
}
.price{
  list-style-type: none;
}
.actiondouwn ul{
  margin-left: 11%;
}
.backgrnavdouwn{
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 500;
}




/* regole main */
.distanziatore{
  margin-top: 140px;
}
/* jambo */
.jambotron{
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url(img/jumbotron.png);
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;

  /* debag */
  /* background: lightblue; */
}
.jambobox{
  width: 30%;
  height:  385px;
  position: absolute;
  left:10%;
  top: 50px;
  /* debag */
  /* border: 1px solid black; */
}
.titlejambobox{
  font-size: 35px;
  padding-bottom: 20px;

}
.textjambobox{
  font-size: 13px;
  margin-bottom: 90px;
  text-align: justify;
}
/* #jambobotton{
  padding:3% 7%;
} */
.jambobutton{
  padding:3% 7%;
}

.trialfree{
  font-size: 13px;
  display: block;
  margin-top: 50px;
  color: #364A5E;
}
.greenbar{
  width: 100%;
  height: 77px;
  position: absolute;
  bottom: 1px;
  left: 0;
  background-color: #AFEBE4;
  border: 3px solid #3B5467;
  border-left: none;
  border-right: none;


}

/* sezione super fsection */
.super{
  width: 100%;
  height:800px;
  background-color: #F4F9FD;
  padding-top: 30px;
  /* debag */
  /* background-color: grey; */
}
.super .cubetext{
  width: 100%;
  min-height: 230px;
  margin: auto;
  /* border: 1px solid black; */

}
.cubetext .cube{
  min-height: 150px;
  width: 100%;
  text-align: center;

}
#cubeimg{

  width: 250px;
  margin: 10px calc(50% - 250px / 2) 0 calc(50% - 250px / 2) ;
}

.cubetitle{
  font-size:30px;

}
.cubeparagraph{
  width: 72%;
  margin: auto;
  padding: 20px 0;

}

/* prima riga flottata */

.first {
  background-color: white;
  margin: 20px 0 0 0;
}

.bookbox{
  width: 32%;
  height: 300px;

}
#bookimg{
width: 190px;
margin:10px calc(50% - 95px);
padding: 30px 0;

}
.learnmore{
width: 35%;
margin:40px calc(50% - 70px);
text-align: center;
padding: 3% 7%;

/* da rivedere!!!!!!!! */

}
.crm{
  width: 68%;
  height: 300px;
  box-shadow: 0 0 11px #eaf0f6;
}
.crmtitle{
  margin: 40px 0;
}
.crmsubtitle{
  margin-top: 50px;
  display: inline-block;
}
.crmtext{
  width: 80%;

}
.greyline{
  height: 10px;
  width: 60%;
  display: inline-block;
  margin-left: 20px;
  border-bottom: 1.5px solid grey;
  margin-bottom: 5px;

}
.crmlist{
  margin-top: 30px;
}
.crmlist .listcheck{
  margin-right: 20px;
}

.fa-check-circle{
  font-size: 20px;
  color:#FE775A;
}

/* seconda riga flottata */
.backgr{
  background-color:  #F4F9FD;
    padding-bottom: 50px;
}
.second{

}
.column{
  width: calc(100% / 3 - 50px);
  min-height: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 11px #eaf0f6;
}
.center{
  margin:0 75px;
}

.imgcolumn{
  height: 100px;
  margin:20px calc(50% - 25%);
}
.columntext{
  width: 80%;
  margin: auto;
  padding: 30px 0;
}
.short{
  width: 85%;
  margin: auto;
  border-bottom: 2.5px solid grey;
  margin-top: 25px;
  margin-bottom: 30px;

}

#lastshort{
  margin-top: 6px;
}

.buttonlistcolumn{
  width: 100%;
  margin: 40px 0 30px 0;

}



.motherlistcolumn{
  min-height: 160px;
  margin-top: 35px;
  /* DEBUG:  */


}

.listcolumn{
  display: block;
  text-align: left;
  margin: 10px 7%;

}
.space{
  padding-right: 18px;
}

/* sezione maxi-tab */
.maxi{
  width: 100%;
  min-height: 400px;
  /* debag */
  background-color: #00A8b9;
  background-image: linear-gradient(45deg
    ,#00a4bd,#00bda5);
  /* margin-top: 350px; */
}
.tab{
  min-height: 450px;
  /* debag */

}
.tabconteined{
  text-align: center;
  color: white;
}




.tabtitle{
  width: 80%;
  margin: auto;
  font-size: 28px;
  padding: 20px 0;


}
.tabtext{
padding-bottom: 50px;



}
.tabbigbox{
  min-height: 300px;
  /* /* DEBUG:  */

  /* border: 1px solid red; */
}

.square{
  width: 25%;
  min-height: 150px;
  padding: 20px;
  /* text-align: center;
  color: white; */
  /* border: 1px solid black; */
}
.upper{
  border-bottom: 1.5px solid white;
  border-right:  1.5px solid white;
}

.lower{
  padding-top: 20px;
  margin-bottom: 80px;
  border-right:  1.5px solid white;
}
.end{
  border-right: none;
}

.tabnumbers{
  font-size: 40px;
  margin: 10px 0;
}
.plus{
  font-size: 35px;
  font-weight: normal;
  margin-left: 10px;

}
#plusfirst{
  margin-left: 0;
}
#lastsquare{
  padding-top: 12px;
}



/* sezione secsection con due righe flottate, ogni riga da du elementi */

/* prima riga flottata */
.numberpiece{
  width: 35%;
  min-height: 190px;

  /* DEBUG:  */
  /* background-color: orange; */

}
.conteinerdata{
  width: 70%;
  min-height: 160px;
  /* border: 1px solid black; */
  margin:0 15%;
}
.datanumbers{
  font-size: 50px;
  padding: 30px 0 20px 0;
}
.dataparagraph{
  width: 80%;
  /* da rivedere spaziatura tra righe */

}
.datanumbers, .dataparagraph{
  /* margin-left: 65px; */
}
.logopiece{
  width: 65%;
  min-height: 140px;
  padding: 30px 0 15px 0;

  /* DEBUG:  */
  /* background-color: lightgreen; */
}
.logobox{
  width: 20%;
  min-height: 60px;

  margin:10px 0 10px 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}


#atlassian{
  background-image: url(img/atlassian.png);
}
#doordash{
  background-image: url(img/doordash.png);
}
#g2{
  background-image: url(img/g2crowd-logo@2x.png);
}
#purple{
  background-image: url(img/purple-logo@2x.png);
  margin-right: 0;
}
#subaru{
  background-image: url(img/subaru.png);
}
#wistia{
  background-image: url(img/wistia.png);
}
#classpass{
  background-image: url(img/classpass.png);
}
#vmware{
  background-image: url(img/vmware.png);
  margin-right: 0;
}

/* seconda riga flottata */
.enjoy, .smile{
  min-height: 450px;
  margin-top: 30px;
}

.enjoy{
  width: 40%;

  /* DEBUG:  */
  /* background-color: blue; */
}
.enjoytitle{
  font-size: 30px;
  margin: 25px 0;
}
.enjoyparagraph{
padding: 20px 0 80px 0;
}

.smile{
  width: 60%;

  /* DEBUG:  */
  /* background-color: lightblue; */
}
.imgsmile{
  width: 50%;
  height: 380px;
  margin-left: 50%;
}

/* inizio footer  */
.foot{
  /* DEBUG:  */
 padding-top: 60px;
 background-color: #32495B;
}
/* prima riga */
.footup{
    min-height: 330px;
}
.columnfoot{
  width: calc(100% / 4 - 30px);
  min-height: 150px;
  margin-right: 40px;
}
.columnfoot:nth-child(4){
  margin-right: 0;
}

.titlelistfootup{
  color: white;
  padding-bottom: 15px;

}
.linkfoot{
  color: #B8BABB;

}

.footlistup{
  display: block;
  margin: 10px 0;
}

.buttonfoot{
  color:#32495B ;
  background:#B8BABB;
}
#support{
  margin:25px 0;
}
.socialicons{
  color:#B8BABB;
  padding-right: 27px;
}
.socialicons:hover{
  text-decoration: none;
  font-size: 20px;
}
  /* seconda riga */
.langueges{
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.linklang, .copyright{
    color: #B8BABB;

}
.langlist{
  padding-top: 10px;
}
/* parte flottatta */
.logofoot{
  width: 50%;
  min-height: 60px;
}

.creditfoot{
  width: 50%;
  min-height: 60px;
  padding-left: 30%;
}
