/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.allinea{
  width: 80%;
  margin: auto;
}
nav::after, .row::after{
  content: "";
  display: table;
  clear: both;
}

.search, .lang, .bookbox, .crm, .column, .numberpiece, .logopiece, .enjoy, .smile, .columnfoot, .logofoot, .creditfoot{
  float: left;
  /* /* DEBUG:  */
  border: 1px solid black;

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
li{
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
/* regole header */

header nav{
  width: 100%;
  min-height: 140px;
  position: fixed;
  top: 0;
  z-index: 500;
  line-height: 60px;
  background-color: #F4F9FD;

  /* default */
  /* border-bottom: 1px solid black; */
}

nav .up{
  height: 70px;
  border-bottom: 1px solid grey;
  /* DEBUG:  */
  /* border: 1px solid black; */
}
.lang{
  width: 50%;
  height: 70px;
  /* border: 1px solid black; */


}

.search{
  width: 50%;
  height: 70px;
  /* border: 1px solid black; */

}
.select{
  border-right: 1px solid grey;
  margin-right: 10px;
  background-color: transparent;
  border: 0;

}
.contactus{
  padding-left:  15px;
  border-left: 1px solid grey;
}
.actionup{
  margin-left: 53%;
}
.button{
  border: 1px solid black;
  color:black;
  border-radius: 2px;
  padding:8px;
}
#login{
  color: #FE775A;
  border-color:  #FE775A;
}
.hubspot{
  background-color: #FE775A;
  color: white;
  border: none;
}
#logohubhead{
  padding-top: 15px;
}
.price{
  list-style-type: none;
}
.actiondouwn ul{
  margin-left: 11%;
}

/* regole main */
.distanziatore{
  margin-top: 140px;
}
/* jambo */
.jambotron{
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url(img/jumbotron.png);
  background-size: contain;
  background-position: left ;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  /* debag */
  /* background: lightblue; */
}
.jambobox{
  width: 30%;
  height:  385px;
  position: absolute;
  left:10%;
  top: 50px;
  /* debag */
  /* border: 1px solid black; */
}
.titlejambobox{
  font-size: 35px;
  padding-bottom: 20px;

}
.textjambobox{
  font-size: 13px;
  margin-bottom: 30px;
  text-align: justify;
}
#jambobotton{
  padding:3% 7%;
}

.trialfree{
  font-size: 13px;
  display: block;
  margin-top: 50px;
}

/* sezione super fsection */
.super{
  width: 100%;
  height:800px;
  background-color: #F4F9FD;
  /* debag */
  /* background-color: grey; */
}
.super .cubetext{
  width: 100%;
  min-height: 230px;
  margin: auto;
  border: 1px solid black;

}
.cubetext .cube{
  min-height: 150px;
  width: 100%;
  text-align: center;

}
#cubeimg{

  width: 250px;
  margin: 10px calc(50% - 250px / 2) 0 calc(50% - 250px / 2) ;
}

.cubetitle{
  font-size:30px;

}
.cubeparagraph{
  width: 72%;
  margin: auto;
  padding: 20px 0;

}

/* prima riga flottata */


.bookbox{
  width: 35%;
  height: 300px;
}
#bookimg{
width: 190px;
margin:10px calc(50% - 95px);
padding: 30px 0;

}
#learnmore{

margin:40px calc(50% - 50px);

}
.crm{
  width: 65%;
  height: 300px;
}
/* seconda riga flottata */

.column{
  width: calc(100% / 3 - 50px);
  min-height: 400px;
}
.center{
  margin:0 75px;
}

/* sezione maxi-tab */
.maxi{
  width: 100%;
  min-height: 400px;
  /* debag */
  background-color: blue;
}
.tab{
  min-height: 450px;
  /* debag */
  border: 1px solid black;
}
.tabtext{
  text-align: center;

}
.tabnumb{
  min-height: 300px;
  /* /* DEBUG:  */
  background-color: lightblue;
  border: 1px solid red;
}
/* sezione secsection con due righe flottate, ogni riga da du elementi */

/* prima riga flottata */
.numberpiece{
  width: 35%;
  min-height: 190px;
  /* DEBUG:  */
  background-color: orange;

}
.logopiece{
  width: 65%;
  min-height: 140px;
  /* DEBUG:  */
  background-color: lightgreen;
}
/* seconda riga flottata */
.enjoy{
  width: 35%;
  min-height: 160px;
  /* DEBUG:  */
  background-color: blue;
}
.smile{
  width: 65%;
  min-height: 160px;
  /* DEBUG:  */
  background-color: lightblue;
}

/* inizio footer  */
.foot{
  /* DEBUG:  */
 padding-top: 60px;
 background-color: lightgrey;
}
/* prima riga */
.footup{
    min-height: 200px;
}
.columnfoot{
  width: calc(100% / 4 - 60px);
  min-height: 150px;
  margin-right: 80px;


}
.columnfoot:nth-child(4){
  margin-right: 0;
}
  /* seconda riga */
.langueges{
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
/* parte flottatta */
.logofoot{
  width: 50%;
  min-height: 60px;
}
.creditfoot{
  width: 50%;
  min-height: 60px;

}
